//----------------------------------------------------------------------------
// WordPress
//----------------------------------------------------------------------------

// editor styles
$wp-editor-margin: 20px 0;

// caption
$wp-caption-margin: rem-calc(15);
$wp-caption-text-font-size: rem-calc(12);

// gallery
$wp-gallery-margin: rem-calc(15);

// alignment
$wp-align-margin: rem-calc(15);
