a.btnFollow.btnFollow--tw(href="https://twitter.com/wctokyo", target="_blank")
  i.genericon.genericon-twitter
  | Twitter でフォロー
a.btnFollow.btnFollow--fb(href="https://www.facebook.com/wordcamptokyo/", target="_blank")
  i.genericon.genericon-facebook
  | Facebook でいいね!
