.wcorg-speaker-right
  p.wcorg-speaker-belonging Web デザイナー
  ul.wcorg-speaker-icons
    li
      a.wcorg-speaker-icon.wcorg-speaker-icon--tw(href='https://twitter.com/featherplain', target='_blank')
        i.genericon.genericon-twitter
    li
      a.wcorg-speaker-icon.wcorg-speaker-icon--fb(href='https://www.facebook.com/megumi.hano', target='_blank')
        i.genericon.genericon-facebook-alt
    li
      a.wcorg-speaker-icon.wcorg-speaker-icon--gh(href='https://github.com/featherplain', target='_blank')
        i.genericon.genericon-github
  p.wcorg-speaker-url
    a(href='http://featherplain.com', target='_blank') http://featherplain.com
dl.wcorg-speaker-info
  dt.wcorg-speaker-info-key 自己紹介
  dd.wcorg-speaker-info-value Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius est hendrerit quam egestas varius. Maecenas quam eros, sollicitudin eu cursus ut, fringilla at augue. Mauris mattis eget tortor at tincidunt. Maecenas in nunc interdum, laoreet libero id, pretium leo.
  dt.wcorg-speaker-info-key 講演タイトル
  dd.wcorg-speaker-info-value
    p.wcorg-speaker-info-session
      a(href='#') これからの WordPress のはなしをしよう
    ul.wcorg-speaker-list
      li.wcorg-speaker-list-item.wcorg-speaker-list-item--stage 場所
      li.wcorg-speaker-list-item.wcorg-speaker-list-item--time 時間
