h3.wcorg-session-subTitle 対象者
p 対象者を入力
h3.wcorg-session-subTitle セッション内容
p 内容を入力
dl.wcorg-session-meta
  dt.wcorg-session-speaker スピーカー
  dd
    ul.wcorg-session-speaker-list
      li
        span.wcorg-session-speaker-name 名前
        a.btnProfile(href="#") profile
  dt.wcorg-session-stage 場所
  dd 場所を入力
  dt.wcorg-session-date 時間
  dd 時間を入力
