.featured
  .featured__content
    a(href='', class='')
      h2.featured__title WordCamp とは
  .featured__content
    a(href='', class='')
      h2.featured__title スポンサー募集中
  .featured__content
    a(href='', class='')
      h2.featured__title 登壇者募集中
  .featured__content
    a(href='', class='')
      h2.featured__title アクセス
