.sponsors
  h1.sponsors__title スポンサー
  .sponsors__column.sponsors__column--two
    h2.sponsors__rank.sponsors__rank--champion Champion
    ul.sponsors__list.sponsors__list--champion
      li
        a(href='#')
          img(src='http://placehold.jp/450x100.png', alt='')
  .sponsors__column.sponsors__column--two
    h2.sponsors__rank.sponsors__rank--superb Superb
    ul.sponsors__list.sponsors__list--superb
      li
        a(href='#')
          img(src='http://placehold.jp/450x100.png', alt='')
  .sponsors__column
    h2.sponsors__rank.sponsors__rank--gold Gold
    ul.sponsors__list.sponsors__list--gold
      li
        a(href='#')
          img(src='http://placehold.jp/450x100.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/450x100.png', alt='')
  .sponsors__column
    h2.sponsors__rank.sponsors__rank--accomplice Accomplice
    ul.sponsors__list.sponsors__list--accomplice
      li
        a(href='#')
          img(src='http://placehold.jp/300x100.png', alt='')
  .sponsors__column
    h2.sponsors__rank.sponsors__rank--silver Silver
    ul.sponsors__list.sponsors__list--silver
      li
        a(href='#')
          img(src='http://placehold.jp/300x100.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/300x100.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/300x100.png', alt='')
  .sponsors__column
    h2.sponsors__rank.sponsors__rank--bronze Bronze
    ul.sponsors__list.sponsors__list--bronze
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
  .sponsors__column
    h2.sponsors__rank.sponsors__rank--link Link
    ul.sponsors__list.sponsors__list--link
      li.link__item
        a(href='#') sponsor name
      li.link__item
        a(href='#') sponsor name
      li.link__item
        a(href='#') sponsor name
      li.link__item
        a(href='#') sponsor name
      li.link__item
        a(href='#') sponsor name
      li.link__item
        a(href='#') sponsor name
      li.link__item
        a(href='#') sponsor name
      li.link__item
        a(href='#') sponsor name
  .sponsors__column
    h2.sponsors__rank.sponsors__rank--media Media
    ul.sponsors__list.sponsors__list--media
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
  .sponsors__column
    h2.sponsors__rank.sponsors__rank--support Tool
    ul.sponsors__list.sponsors__list--support
      li
        a(href='#')
          img(src='http://placehold.jp/200x90.png', alt='')
// .sponsors
