@charset "utf-8";

//***********************
// Color
//***********************

// Theme color
$colorWhite         : #ffffff;
$colorBlack         : #222222;
$colorBlue          : #0b346e;
$colorOrange        : #ea851f;
$colorRed           : #c3322c;

// Sponsor
$colorAccomplice    : #3094d1;
$colorGold          : #c19534;
$colorSilver        : #d3d3d3;
$colorBronze        : #a46628;
$colorMedia         : #8fbbcc;
$colorSupport       : $colorMedia;

// Text Color
$colorText          : #333333;
$colorLink          : lighten($colorBlue, 10%);
$colorLinkHover     : lighten($colorLink, 15%);
$colorSelection     : lighten($colorLink, 50%);

// navigation
$colorNav           : $colorBlack;
$colorNavLighten    : lighten($colorBlack, 8%);

// icons
$colorTw            : #55acee;
$colorTwHover       : lighten($colorTw, 10%);
$colorFb            : #3b5998;
$colorFbHover       : lighten($colorFb, 10%);
$colorGh            : #333333;
$colorGhHover       : lighten($colorGh, 10%);

//***********************
// Path
//***********************
// $filePath         : "http://tokyo.wordcamp.org/files/2015/";
$filePath           : "files/2015/";

//***********************
// Font Family
//***********************
// primary
$fontFamily         : "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
// En
$fontFamilyEn       : "Helvetica Neue", "Helvetica",Sans-Serif;
// code
$fontFamilyCode     : Menlo,Consolas,Courier,sans-serif;

//***********************
// Colum Base Width
//***********************
$maxWidth           : 1080px;

//***********************
// Navigation Size
//***********************
$navHeight         : 40px;
// $navItemWidth   : ;
$navItemHeight     : 12px;
$navPadding        : ($navHeight - $navItemHeight) / 2; // Calclate padding size automatically
