@charset "utf-8";

/* header
/* ---------------------------------------- */

#masthead {
  margin-bottom: 20px;
  border-bottom: 4px solid darken($colorBeige, 12%);
  @media #{$medium-up} {
    margin-bottom: 20px;
  }
  .home & {
    margin-bottom: 0;
  }
}
/**
 * site-header
 */
.site-header {
  background-image: url($filePath + '07/pattern_main.png');
  background-size: 100px;
  position: relative;
  // media query
  @media #{$medium-up} {
    background-size: 110px;
  }
  @media #{$large-up} {
    background-size: 123px;
  }
  // wapuu
  &:after {
    @extend %hovering;
    @include imageReplace('07/img_wapuu_2x.png', 426px, 562px, .5);
    padding-top: 94px;
    position: absolute;
    top: vmin-calc(120px);
    right: 4%;
    width: 70px;
    height: auto;
    content: "";
    // media query
    @media #{$medium-up} {
      width: 130px;
      top: 35%;
      right: 6%;
      padding-top: 176px;
    }
    @media #{$large-up} {
      width: 160px;
      top: 38%;
      right: 10%;
      padding-top: 250px;
    }
    @media #{$xlarge-up} {
      width: 190px;
      top: 36%;
      right: 10%;
      padding-top: 295px;
    }
    @media #{$xxlarge-up} {
      width: 220px;
      top: 34%;
      right: 10%;
      padding-top: 295px;
    }
  }
}
/**
 * site-title
 */
.site-title {
  margin: 0 auto;
  padding: 80px 0 50px 0;
  @media #{$medium-up} {
    padding: 80px 0 20px 0;
  }
  @media #{$large-up} {
    padding: 100px 0 30px 0;
  }
  .home & {
    @media #{$small-only} {
      padding: 80px 0 200px 0;
    }
    @media #{$medium-up} {
      padding: 100px 0 90px 0;
    }
    @media #{$large-up} {
      padding-bottom: 130px;
    }
  }
  a {
    @include imageReplace('07/img_title.png', 100%, vmin-calc(167px), $position: 0 10px);
    display: block;
    max-width: 100%;
    margin: 0 auto;
    color: transparent;
    @media #{$medium-up} {
      max-width: 500px;
      padding-top: 293px;
    }
    @media #{$large-up} {
      max-width: 650px;
      height: 350px;
      padding-top: 302px;
    }
  }
}
/**
 * site-description
 */
.site-description {
  display: none;
}
