@charset "utf-8";

/* header
/* ---------------------------------------- */

#masthead {
  margin-bottom: 60px;
  @media #{$medium-up} {
    margin-bottom: 80px;
  }
}
.site-header {
  background-image: url($filePath + '07/pattern_main.png');
  background-size: 100px;
  position: relative;
  // wapuu
  &:after {
    @extend %hovering;
    @include imageReplace('07/img_wapuu_2x.png', 426px, 562px, .5);
    padding-top: 94px;
    position: absolute;
    top: 28%;
    right: 4%;
    width: 70px;
    height: auto;
    content: "";
  }
}
.site-title {
  margin: 0 auto;
  background-size: 100% auto;
  padding: 80px 0;
  a {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 137px;
    margin: 0 auto;
    background-image: url($filePath + '07/img_title.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 10px;
    color: transparent;
  }
  @media #{$medium-up} {
    padding: 110px 0;
  }
}
.site-description {
  display: none;
}

/* media */
@media screen and (max-width: 600px) {
  .site-header {
    height: 330px;
  }
}

@media #{$medium-up} {
  .site-header {
    background-size: 110px;
    &:after {
      top: 35%;
      right: 6%;
      width: 130px;
      padding-top: 176px;
    }
  }
  .site-title {
    margin: 0 auto;
    background-size: 100% auto;
    a {
      max-width: 600px;
      height: 263px;
    }
  }
}

@media #{$large-up} {
  .site-header {
    background-size: 123px;
    &:after {
      width: 160px;
      top: 38%;
      right: 10%;
      padding-top: 250px;
    }
  }
}

@media #{$xlarge-up} {
  .site-header {
    background-size: 123px;
    &:after {
      width: 190px;
      top: 36%;
      right: 10%;
      padding-top: 295px;
    }
  }
  .site-title {
    a {
      max-width: 800px;
      height: 348px;
    }
  }
}

@media #{$xxlarge-up} {
  .site-header {
    background-size: 123px;
    &:after {
      width: 220px;
      top: 34%;
      right: 10%;
      padding-top: 295px;
    }
  }
  .site-title {
    a {
      max-width: 900px;
      height: 390px;
    }
  }
}
