@charset "utf-8";

/* after header widgets
/* ---------------------------------------- */
#after-header-widgets {
  position: relative;
  margin-bottom: 0;
}
.l-widget {
  @include grid-row();
  margin-bottom: 40px;
  padding: 0 14px;
}
/**
 * english
 */
.widgetEn {
  position: absolute;
  top: -70px;
  width: 100%;
  height: $navHeight;
  text-align: center;
  background-color: lighten($colorBrown, 4%);
  box-shadow: 0 -2px 3px rgba(0,0,0,.2);
  .home & {
    top: -108px;
  }
  @media #{$medium-up} {
    display: none;
  }
  a {
    display: block;
    padding: 13px 0;
    width: 100%;
    color: #fff;
    margin: 0;
    &:before {
      @include fa('\f0ac');
      margin-right: 5px;
    }
  }
}
/**
 * after party
 */
.widgetAfterparty {
  &__inner {
    @include grid-row();
    padding: 60px 20px 20px 20px;
    text-align: center;
    @media #{$small-only} {
      padding: 40px 20px 20px;
    }
  }
  &__title {
    font-weight: normal;
    text-align: center;
    font-size: rem-calc(28);
    margin-top: 0;
    margin-bottom: 10px;
    color: darken($colorBrown, 20%);
    @media #{$small-only} {
      font-size: rem-calc(20);
    }
  }
  &__subTitle {
    color: darken($colorSilver, 20%);
    margin-top: 0;
  }
  &__description {
    @media #{$small-only} {
      font-size: rem-calc(14);
    }
  }
}
/**
 * featured
 */
$iconSmall: 50px;
$iconLarge: 120px;

%widgetFeaturedRight {
  margin-left: 60px;
  transition: all 0.3s;
  @media #{$medium-up} {
    margin-left: 0;
  }
}
%isDisabled {
  color: $colorSilver;
  &:hover {
    color: $colorSilver;
  }
}
.widgetFeatured {
  padding: 80px 0 30px 0;
  background-color: lighten($colorOrange, 4%);
  // margin-bottom: 30px;
  @media #{$medium-up} {
    padding-top: 100px;
  }
  &__inner {
    @include grid-row();
  }
  a {
    display: block;
    padding: 10px;
    color: #fff;
    &.isActive {
      transition: background 0.4s;
      &:hover {
        background-color: $colorOrange;
        .dashicons {
          animation: spin 0.3s linear;
        }
      }
    }
    &.isDisabled {
      cursor: default;
      & * {
        @extend %isDisabled;
      }
    }
  }
  .dashicons {
    display: block;
    float: left;
    font-size: $iconSmall;
    width: 0;
    height: 0;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  &__columns {
    @extend %clearfix;
    margin-bottom: 14px;
    @media #{$small-only} {
      margin-bottom: 10px;
    }
  }
  &__title {
    @extend %widgetFeaturedRight;
    font-weight: bold;
    margin-top: 0;
    font-size: rem-calc(18);
    color: #fff;
     line-height: 1.2;
    @media #{$small-only} {
      font-size: rem-calc(14);
      margin-bottom: 5px;
    }
  }
  &__text {
    @extend %widgetFeaturedRight;
    font-size: rem-calc(13);
    color: #fff;
    @media #{$small-only} {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &__label {
    margin-right: 5px;
    padding: 2px 4px;
    background-color: #fff;
    border-radius: 3px;
    color: $colorOrange;
    font-size: rem-calc(13);
  }
}
/**
 * media
 */
@media #{$medium-up} {
  .widgetFeatured {
    text-align: center;
    .dashicons {
      float: none;
      margin: 0 auto 10px auto;
      width: $iconLarge;
      height: auto;
      font-size: $iconLarge;
    }
    &__columns {
      &--four {
        @include grid-column(
          $columns: 6,
          $collapse: false
        );
      }
    }
    a {
      padding: 20px 0;
    }
    &__title {
      font-size: rem-calc(20);
    }
  }
}
@media #{$large-up} {
  .widgetFeatured {
    &__columns {
      &--four {
        @include grid-column(
          $columns: 3,
          $collapse: false
        );
      }
    }
  }
}
/**
 * Recent Posts on After Header Widgets
 */
.home {
  #after-header-widgets {
    .widget_recent_entries {
      width: 100%;
      max-width: 930px;
      position: absolute;
      top: -90px;
      left: 0;
      right: 0;
      background-color: #fff;
      margin: 30px auto;
      padding: 20px;
      border: 4px solid darken($colorBeige, 12%);
      @media #{$medium-up} {
        top: -70px;
      }
      @media #{$large-up} {
        top: -100px;
      }
      .widget-title {
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1;
        font-size: rem-calc(14);
        font-weight: normal;
        color: darken($colorBrown, 20%);
        @media #{$medium-up} {
          font-size: rem-calc(16);
        }
      }
      ul {
        margin: 0;
        padding-left: 0;
        li {
          border-bottom: 1px dashed $colorSilver;
          padding: 0;
          &:first-child {
            position: relative;
            padding-left: 42px;
            padding-bottom: 8px;
            &:before {
              content: "new";
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              padding: 4px 6px;
              background-color: $colorOrange;
              border-radius: 4px;
              color: #fff;
              font-size: rem-calc(12);
              line-height: 1;
            }
          }
          a {
            font-size: rem-calc(13);
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            @media #{$medium-up} {
              font-size: rem-calc(14);
              width: 100%;
            }
          }
          .post-date {
            font-size: rem-calc(13);
            color: darken($colorSilver, 20%);
          }
        }
      }
    }
  }
}
/**
 * pickup speaker
 */
.pickup {
  background-color: #fff;
  padding: 60px 0;
  @media #{$small-only} {
    padding: 40px 0;
  }
  &__inner {
    @include grid-row();
  }
  &__title {
    @extend .widgetAfterparty__title;
    margin-bottom: 40px;
    @media #{$small-only} {
      margin-bottom: 20px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 60px;
    @media #{$small-only} {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__column {
    max-width: 260px;
    padding: 0 10px;
    text-align: center;
    @media #{$small-only} {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__thumb {
    width: 100%;
    max-width: 240px;
    >img {
      border-radius: 50%;
      border: 2px solid $colorBeige;
    }
  }
  &__name {
    font-weight: normal;
    font-size: rem-calc(24);
    margin-bottom: 12px;
    line-height: 1.2;
    color: $colorBrown;
  }
  &__session {
    margin-top: 0;
    font-size: rem-calc(12);
    color: darken($colorSilver, 30%);
    &:before {
      @include fa("\f130");
      margin-right: 4px;
      font-size: 100%;
    }
  }
  &__link {
    color: $colorOrange;
    &--large {
      font-weight: bold;
      &:after {
        @include fa("\f101");
        margin-left: 5px;
        font-size: 120%;
      }
    }
  }
}
