@charset "utf-8";

/* after header widgets
/* ---------------------------------------- */
#after-header-widgets {
  position: relative;
  margin-bottom: 0;
}
.l-widget {
  @include grid-row();
  margin-bottom: 40px;
  padding: 0 14px;
}
/**
 * desc
 */
.widgetDesc {
  text-align: center;
  &__title {
    font-weight: normal;
    font-size: rem-calc(18);
    color: darken($colorBrown, 20%);
    @media #{$medium-up} {
      font-size: rem-calc(24);
    }
    @media #{$large-up} {
      font-size: rem-calc(28);
    }
  }
  &__text {
    color: lighten($colorText, 10%);
    font-size: rem-calc(12);
    @media #{$medium-up} {
      font-size: rem-calc(14);
    }
    @media #{$large-up} {
      font-size: rem-calc(16);
    }
  }
}
/**
 * english
 */
.widgetEn {
  position: absolute;
  top: -108px;
  width: 100%;
  height: $navHeight;
  text-align: center;
  background-color: lighten($colorBrown, 4%);
  @media #{$medium-up} {
    display: none;
  }
  a {
    display: block;
    padding: 13px 0;
    width: 100%;
    color: #fff;
    margin: 0;
    &:before {
      @include fa('\f0ac');
      margin-right: 5px;
    }
  }
}
/**
 * after party
 */
.widgetAfterparty {
  &__inner {
    @include grid-row();
    padding: 80px 20px 60px 20px;
    text-align: center;
    @media #{$small-only} {
      padding: 40px 20px 20px;
    }
  }
  &__title {
    font-weight: normal;
    text-align: center;
    font-size: rem-calc(28);
    margin-top: 0;
    margin-bottom: 10px;
    color: darken($colorBrown, 20%);
  }
  &__subTitle {
    color: darken($colorSilver, 20%);
    margin-top: 0;
  }
  &__description {
    @media #{$small-only} {
      font-size: rem-calc(14);
    }
  }
}
/**
 * featured
 */
$iconSmall: 50px;
$iconLarge: 100px;

%widgetFeaturedRight {
  margin-left: 60px;
  transition: all 0.3s;
  @media #{$medium-up} {
    margin-left: 0;
  }
}
%isDisabled {
  color: $colorSilver;
  &:hover {
    color: $colorSilver;
  }
}
.widgetFeatured {
  background-image: url($filePath + "08/bg_register.png");
  background-position: 20px center;
  background-repeat: repeat;
  background-size: cover;
  padding: 30px 0;
  background-color: #fff;
  @media #{$small-only} {
    margin-bottom: 30px;
  }
  &__inner {
    @include grid-row();
  }
  a {
    display: block;
    padding: 10px;
    // background-color: #fff;
    &.isActive {
      transition: background 0.4s;
      &:hover {
        background-color: $colorOrange;
        .dashicons {
          animation: spin 0.3s linear;
          color: #ffffff;
        }
        .widgetFeatured__title,
        .widgetFeatured__text {
          color: #ffffff;
        }
      }
    }
    &.isDisabled {
      cursor: default;
      & * {
        @extend %isDisabled;
      }
    }
  }
  .dashicons {
    display: block;
    float: left;
    font-size: $iconSmall;
    width: 0;
    height: 0;
    color: $colorOrange;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  &__columns {
    @extend %clearfix;
    margin-bottom: 14px;
    @media #{$small-only} {
      margin-bottom: 0;
    }
  }
  &__title {
    @extend %widgetFeaturedRight;
    font-weight: bold;
    margin-top: 0;
    font-size: rem-calc(18);
    color: darken($colorBrown, 20%);
    @media #{$small-only} {
      font-size: rem-calc(14);
    }
  }
  &__text {
    @extend %widgetFeaturedRight;
    font-size: rem-calc(13);
    color: darken($colorSilver, 20%);
  }
  &__label {
    margin-right: 5px;
    padding: 2px 4px;
    background-color: $colorOrange;
    border-radius: 3px;
    color: #ffffff;
    font-size: rem-calc(13);
  }
}
/**
 * media
 */
@media #{$medium-up} {
  .widgetFeatured {
    text-align: center;
    .dashicons {
      float: none;
      margin: 0 auto 10px auto;
      width: $iconLarge;
      height: auto;
      color: $colorOrange;
      font-size: $iconLarge;
    }
    &__columns {
      &--four {
        @include grid-column(
          $columns: 6,
          $collapse: false
        );
      }
    }
    a {
      padding: 20px 0;
    }
    &__title {
      font-size: rem-calc(20);
    }
  }
}
@media #{$large-up} {
  .widgetFeatured {
    &__columns {
      &--four {
        @include grid-column(
          $columns: 3,
          $collapse: false
        );
      }
    }
  }
}
/**
 * Recent Posts on After Header Widgets
 */
#after-header-widgets {
  .widget_recent_entries {
    @include grid-row();
    background-color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px dotted #fff;
    border-radius: 10px;
    .widget-title {
      font-size: rem-calc(28);
      text-align: center;
      font-weight: normal;
      color: darken($colorBrown, 20%);
    }
    ul {
      padding-left: 0;
      li {
        border-bottom: 1px dashed $colorSilver;
        padding: 8px 0;
        &:first-child {
          position: relative;
          padding-left: 42px;
          &:before {
            content: "new";
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 0;
            padding: 4px 6px;
            background-color: $colorOrange;
            border-radius: 4px;
            color: #fff;
            font-size: rem-calc(12);
            line-height: 1;
          }
        }
        a {
          font-size: rem-calc(14);
        }
        .post-date {
          font-size: rem-calc(13);
          color: darken($colorSilver, 20%);
        }
      }
    }
  }
}
