@charset "utf-8";

/* footer widgets
/* ---------------------------------------- */
.footer-widgets {
  @include grid-row();
}
/**
 * widgetSns
 */
%widgetIconPos {
  position: absolute;
  top: 5px;
}
.widgetSns {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    li {
      margin: 0 10px;
    }
  }
  &__btn {
    display: block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    color: transparent;
    position: relative;
    transition: .3s;
    &:hover,
    &:visited,
    &:focus,
    &:active {
      color: transparent;
    }
    &:before {
      color: #fff;
      font-size: rem-calc(30);
    }
    &--tw {
      background-color: $colorTw;
      &:hover {
        background-color: darken($colorTw, 10%);
      }
      &:before {
        @include fa($content: '\f099', $fontsize: rem-calc(40), $valaign: middle);
        @extend %widgetIconPos;
        left: 16px;

      }
    }
    &--fb {
      background-color: $colorFb;
      &:hover {
        background-color: darken($colorFb, 10%);
      }
      &:before {
        @include fa($content: '\f09a', $fontsize: rem-calc(40), $valaign: middle);
        @extend %widgetIconPos;
        left: 24px;
      }
    }
  }
}
