@charset "utf-8";

/* footer widgets
/* ---------------------------------------- */
.footer-widgets {
  @include grid-row();
}
/**
 * widgetRegister
 */
.widgetRegister {
  background-color: #fff;
  content: "";
  background-image: url($filePath + "08/bg_register.png");
  background-position: 20px center;
  background-repeat: repeat;
  background-size: cover;
  &__inner {
    @include grid-row();
    padding: 80px 20px;
  }
  &__lead {
    text-align: center;
    font-size: rem-calc(24);
    color: darken($colorBrown, 20%);
    font-weight: bold;
    line-height: 1.8;
    // media
    @media #{$small-only} {
      font-size: rem-calc(16);
    }
  }
}
/**
 * widgetSns
 */
%widgetIconPos {
  position: absolute;
  top: 5px;
}
.widgetSns {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    padding-left: 0;
    li {
      margin: 0 10px;
    }
  }
  &__btn {
    display: block;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
    color: transparent;
    position: relative;
    transition: .3s;
    &:hover,
    &:visited,
    &:focus,
    &:active {
      color: transparent;
    }
    &:before {
      color: #fff;
      font-size: rem-calc(30);
    }
    &--tw {
      background-color: $colorTw;
      &:hover {
        background-color: darken($colorTw, 10%);
      }
      &:before {
        @include fa($content: '\f099', $fontsize: rem-calc(40), $valaign: middle);
        @extend %widgetIconPos;
        left: 16px;

      }
    }
    &--fb {
      background-color: $colorFb;
      &:hover {
        background-color: darken($colorFb, 10%);
      }
      &:before {
        @include fa($content: '\f09a', $fontsize: rem-calc(40), $valaign: middle);
        @extend %widgetIconPos;
        left: 24px;
      }
    }
  }
}
