@charset "utf-8";

/* sponsors
/* ---------------------------------------- */
.sponsors {
  @include grid-row();
  padding: 40px 0;
  background-color: #ffffff;
  border-top: 10px solid $colorGold;
  border-bottom: 10px solid $colorGold;
  // media
  @media #{$medium-up} {
    border: 10px solid $colorGold;
  }
  &__column {
    @include grid-column(
      $columns: 12
    );
    margin: 20px auto;
    &--two {
      @media #{$medium-up} {
        @include grid-column(
          $columns: 6,
          $collapse: false
        );
      }
    }
  }
  &__title {
    display: block;
    width: 100%;
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;
    background-image: url($filePath + '08/ttl_sponsors.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    color: transparent;
    text-indent: -9999px;
    // media
    @media #{$medium-up} {
      padding-top: 98px;
    }
  }
  &__rank {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    font-size: rem-calc(18);
    font-weight: bold;
    letter-spacing: 1px;
    // media
    @media #{$medium-up} {
      font-size: rem-calc(24);
    }
    &--champion {
      border-bottom: 1px solid $colorBlue;
    }
    &--superb {
      border-bottom: 1px solid $colorBlue;
    }
    &--gold {
      border-bottom: 1px solid $colorGold;
    }
    &--accomplice {
      border-bottom: 1px solid $colorAccomplice;
    }
    &--silver {
      border-bottom: 1px solid $colorSilver;
    }
    &--bronze {
      border-bottom: 1px solid $colorBronze;
    }
    &--link {
      border-bottom: 1px solid lighten($colorBlack, 60%);
    }
    &--media {
      border-bottom: 1px solid lighten($colorBlue, 60%);
    }
    &--support {
      border-bottom: 1px solid lighten($colorBlue, 60%);
    }
  }
  &__list {
    margin-left: 0;
    a {
      display: block;
    }
    &--champion {
      @include grid-row();
      li {
        a {
          max-width: 450px;
          margin: 10px auto;
        }
      }
    }
    &--superb {
      @include grid-row();
      li {
        a {
          max-width: 450px;
          margin: 10px auto;
        }
      }
    }
    &--gold {
      @include grid-row();
      li {
        @include grid-column( $columns: 12 );
        // media
        @media #{$medium-up} {
          @include grid-column(
            $columns: 6,
            $collapse: false
          );
        }
        a {
          max-width: 450px;
          margin: 10px auto;
        }
      }
    }
    &--accomplice {
      @include grid-row();
      li {
        @include grid-column( $columns: 12 );
        a {
          max-width: 300px;
          margin: 10px auto;
        }
      }
    }
    &--silver {
      @include grid-row();
      li {
        @include grid-column( $columns: 12 );
        // media
        @media #{$medium-up} {
          @include grid-column(
            $columns: 4,
            $collapse: false
          );
        }
        a {
          max-width: 300px;
          margin: 10px auto;
        }
      }
    }
    &--bronze {
      @include grid-row();
      li {
        @include grid-column( $columns: 12 );
        // media
        @media #{$medium-up} {
          @include grid-column(
            $columns: 3,
            $collapse: false
          );
        }
        a {
          max-width: 200px;
          margin: 10px auto;
        }
      }
    }
    &--link {
      @include grid-row();
      li {
        @include grid-column( $columns: 12 );
        // media
        @media #{$medium-up} {
          @include grid-column(
            $columns: 6,
            $collapse: false
          );
        }
        @media #{$large-up} {
          @include grid-column(
            $columns: 4,
            $collapse: false
          );
        }
        a {
          display: block;
          max-width: 300px;
          margin: 10px auto;
          padding-top: 10px;
          padding-bottom: 10px;
          text-align: center;
          border: 2px solid $colorBlack;
          color: $colorBlack;
          font-size: rem-calc(14);
          transition: .3s;
          &:hover {
            background-color: $colorBlack;
            color: $colorWhite;
          }
        }
      }
    }
    &--media {
      @include grid-row();
      li {
        @include grid-column( $columns: 12 );
        a {
          max-width: 200px;
          margin: 10px auto;
        }
      }
    }
    &--support {
      @include grid-row();
      li {
        @include grid-column( $columns: 12 );
        a {
          max-width: 200px;
          margin: 10px auto;
        }
      }
    }
  }
}
