@charset "utf-8";

/* sponsors
/* ---------------------------------------- */
.single-wcb_sponsor {
  #content {
    background-color: #fff;
    border: 1px solid lighten($colorSilver, 10%);
  }
  .hentry {
    border: none;
  }
  .attachment-post-thumbnail {
    display: block;
    @media #{$small-only} {
      padding: 20px;
    }
    @media #{$medium-up} {
      padding: 30px;
    }
  }
}
