@charset "utf-8";

// specific variables and mixin
$colorHead        : #a07826;
$colorHeadLighten : lighten($colorHead, 40%);
$colorHall        : lighten(#1e4b96, 52%); // blue
$color01          : lighten(#087641, 68%); // green
$color02          : lighten(#dd5411, 48%); // orange
$color03          : lighten(#c91138, 48%); // red
$color05          : lighten(#a9488d, 44%); // purple
$color06          : lighten(#689dbc, 32%); // lighten blue
$colorNone        : lighten($colorSilver, 10%);

@mixin tag($padding, $bgColor, $color) {
  display: inline-block;
  padding: $padding;
  font-size: rem-calc(10);
  border-radius: 3px;
  background-color: $bgColor;
  color: $color;
  line-height: 1;
}
/* timetable
/* ---------------------------------------- */
.wcpt-schedule {
  border: none;
  margin-bottom: 40px;
  th {
    text-align: center;
    background-color: darken($colorBeige, 2%);
    color: darken($colorBrown, 10%);
  }
  th,
  td {
    padding: 20px;
    border-right: 1px solid #fff;
  }
}
.wcpt-col-time {
  text-align: center;
  width: 90px;
}
.wcpt-col-track {
  width: 25%;
}
.wcpt-session-title {
  display: block;
  color: $colorOrange;
  margin-bottom: 8px;
}
.wcpt-session-speakers {
  display: block;
  font-size: 90%;
  &:before {
    @include fa('\f007', 95%);
    color: darken($colorSilver, 35%);
    margin-right: 4px;
  }
}
.global-session span {
  text-align: center;
  color: $colorText;
  margin-bottom: 0;
}
/**
 * media
 */
@media screen and (max-width: 700px) {
  .wcpt-schedule {
    tr {
      border: 1px solid lighten($colorSilver, 10%);
      border-radius: 4px;
      &:nth-of-type(even) {
        background-color: #fff;
      }
    }
    td,th {
      padding: 14px;
    }
  }
  .wcpt-time {
    font-size: rem-calc(18);
    color: $colorText;
    font-weight: bold;
  }
  .wcpt-session-title {
    padding: 0 14px;
    margin: 8px 0;
  }
  span.wcpt-session-speakers {
    padding: 0 14px;
    &:before {
      @include fa('\f007', 95%);
      color: darken($colorSilver, 35%);
      margin-right: 4px;
    }
  }
  td[class*="wcb-track-"] {
    padding: 0;
    &:before {
      padding: 14px;
      background-color: $colorBeige;
      border: none;
      color: darken($colorBrown, 5%);
    }
  }
  td.wcpt-session-empty {
    display: none;
  }
  .global-session span {
    margin-bottom: 20px;
  }
}
