@charset "utf-8";

// specific variables and mixin
$colorHead        : #a07826;
$colorHeadLighten : lighten($colorHead, 40%);
$colorHall        : lighten(#1e4b96, 52%); // blue
$color01          : #38c057; // green
$color02          : #dd5411; // orange
$color03          : #c91138; // red
$color05          : #db5aba; // purple
$color06          : #689dbc; // lighten blue
$colorNone        : $colorSilver;


@mixin tag($color) {
  display: inline-block;
  padding: 3px 5px;
  font-size: 0.85em;
  font-weight: bold;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid $color;
  color: $color;
  line-height: 1;
}
/* timetable
/* ---------------------------------------- */
.wcpt-schedule {
  border: none;
  border-collapse: collapse;
  .entry-content & {
    margin-bottom: 40px;
  }
  th {
    text-align: center;
    color: darken($colorBrown, 15%);
  }
  th,
  td {
    padding: 20px;
    color: darken($colorBrown, 15%);
    background-color: #fff;
    border: 1px solid $colorBrown;
    border-bottom: none;
    &:first-child{
      border-left: none;
      @media screen and (max-width: 700px) {
        border-left: 1px solid $colorBrown;
      }
    }
    &:last-child{
      border-right: none;
      @media screen and (max-width: 700px) {
        border-right: 1px solid $colorBrown;
      }
    }
    &.wcpt-session-empty{
      border-top: none;
    }
    &.wcpt-session-type-custom{
      background-color: #f9f9f9;
      .wcpt-session-title{
        color: $colorNone;
      }
    }
    &.wcb-session-end-of-session{
      &:last-child{
        border-left-color: transparent;
      }
      &:nth-child(4){
        border-right-color: transparent;
      }
    }
    // Make label
    @each $var in (
            "10min" $color01 "5分",
            "20min" $color06 "15分",
            "40min" $color02 "30分",
            "80min" $color05 "70分",
    ){
      $class_name: nth($var, 1);
      $color: nth($var, 2);
      $label: nth($var, 3);
      &[class*="#{$class_name}"]{
        &:after{
          content: $label;
          @include tag( $color );
          @media screen and (max-width: 700px) {
            margin: 0 8px;
          }
        }
      }
    }
  }
  thead{
    th{
      border-top: none;
    }
  }
  tbody tr:first-child{
    th, td{
      border-top: 3px solid $colorBrown;
    }
  }
  tr:last-child{
    th, td{
      border-bottom: 1px solid $colorBrown;
    }
  }
}
.wcpt-col-time {
  text-align: center;
  width: 90px;
}
.wcpt-col-track {
  width: 25%;
}
.wcpt-session-title {
  display: block;
  color: $colorOrange;
  margin-bottom: 8px;
}
.wcpt-session-speakers {
  display: block;
  font-size: 90%;
  &:before {
    @include fa('\f007', 95%);
    color: lighten($colorBrownLighten, 8%);
    margin-right: 4px;
  }
}
.global-session{
  td{
    border-bottom: 1px solid $colorBrown;
  }
  span.wcpt-session-title {
    text-align: center;
    color: darken($colorBrown, 15%);
    margin-bottom: 0;
  }
}
/**
 * media
 */
@media screen and (max-width: 700px) {
  .wcpt-schedule {
    tr {
      border: 1px solid lighten($colorSilver, 10%);
      border-radius: 4px;
      &:nth-of-type(even) {
        background-color: #fff;
      }
    }
    td,th {
      padding: 14px;
    }
  }
  .wcpt-time {
    font-size: rem-calc(18);
    color: $colorText;
    font-weight: bold;
  }
  .wcpt-session-title {
    padding: 0 14px;
    margin: 8px 0;
  }
  span.wcpt-session-speakers {
    padding: 0 14px;
    &:before {
      @include fa('\f007', 95%);
      color: darken($colorSilver, 35%);
      margin-right: 4px;
    }
  }
  td[class*="wcb-track-"] {
    padding: 0 0 8px;
    border-bottom: 1px solid $colorBrown;
    &:before {
      padding: 14px;
      background-color: rgb(249, 249, 249);
      border: none;
      color: darken($colorBrown, 15%);
    }
  }
  td.wcpt-session-empty {
    display: none;
  }
  .global-session span {
    margin-bottom: 20px;
  }
}
