@charset "UTF-8";

/* buttons
/* ---------------------------------------- */
// extends
%btnBase {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  padding: 1rem 1.4rem;
  transition: .3s;
  border-radius: 40px;
  font-size: rem-calc(16);
  line-height: 1.3;
}
%gradient {
  background: rgba(240,100,19,1);
  background: linear-gradient(to bottom, rgba(240,100,19,1) 0%, rgba(237,75,30,1) 100%);
  &:hover {
    background: rgba(237,75,30,1);
    background: linear-gradient(to bottom, rgba(237,75,30,1) 0%, rgba(240,100,19,1) 100%);
  }
}
// mixin
@mixin btnColor($bgColor, $color: #fff) {
  background-color: $bgColor;
  color: $color;
  &:hover {
    color: $color;
    background-color: darken($bgColor, 8%);
  }
  &:visited {
    color: $color;
  }
}
/**
 * Reset
 */
html {
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    // remove default styles
    background: transparent;
    border: none;
    text-shadow: none;
    &:focus {
      outline: 0;
    }
    &:link,
    &:visited {
      color: #ffffff;
    }
    &:hover,
    &:active,
    &:focus {
      color: #ffffff;
      outline: 0;
      text-decoration: none;
    }
    @extend %btnBase;
    @include btnColor($colorOrange);
  }
}
/**
 * styles
 */
.btn {
  @extend %btnBase;
  @include btnColor($colorOrange);
  box-shadow: 0px 3px 6px rgba(0,0,0,.3);
}
.hollow {
  background-color: transparent;
  color: $colorOrange;
  border: 1px solid $colorOrange;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  &:hover {
    background-color: $colorOrange;
  }
  &:visited {
    color: $colorOrange;
    &:hover {
      color: #fff;
    }
  }
}
.disabled {
  background-color: $colorSilver;
  &:hover {
    background-color: $colorSilver;
    cursor: not-allowed;
  }
}
.full {
  width: 100%;
}
.large {
  padding: 1.5rem 1.5rem;
  font-size: 110%;
}
.xlarge {
  @extend .large;
  font-weight: bold;
}
/**
 * specific
 */
.btn-register-top {
  background: rgba(237,75,30,1);
  background: linear-gradient(to bottom, #12e03e 0%, #10c837 100%);
  &:hover {
    background: #12e03e;
    background: linear-gradient(to bottom, #10c837 0%, #12e03e);
  }
  width: 280px;
  padding: 1.3rem;
  position: absolute;
  top: -208px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 2px #0a8124;
  &:before {
    @include dashicons('\f524');
    font-size: 20px;
    margin-right: 8px;
  }
  @media #{$medium-up} {
    top: -130px;
    font-size: rem-calc(20);
  }
  @media #{$large-up} {
    top: -160px;
  }
}
.btn-register-footer {
  @extend %gradient;
  position: relative;
  &:after {
    @include dashicons('\f344');
    position: absolute;
    top: 22px;
    right: 20px;
    margin-right: 10px;
    font-size: rem-calc(24);
  }
  @media #{$small-only} {
    font-size: rem-calc(14);
    &:after {
      font-size: rem-calc(18);
      top: 24px;
      right: 14px;
    }
  }
}
