@charset "UTF-8";

/* buttons
/* ---------------------------------------- */
html {
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    // remove default styles
    background: transparent;
    border: none;
    border-radius: 0;
    text-shadow: none;
    &:focus {
      outline: 0;
    }
    &:link,
    &:visited {
      color: #ffffff;
    }
    &:hover,
    &:active,
    &:focus {
      background: transparent;
      color: #ffffff;
      outline: 0;
      text-decoration: none;
    }
    // set button style
    @include buttonBase($colorOrange, rem-calc(16));
  }
}
.btn {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  transition: .3s;
}
.btn-round {
  background-color: $colorOrange;
  color: #fff;
  border-radius: 40px;
  padding: 1rem 1.4rem;
  &:hover {
    color: #fff;
    background-color: darken($colorOrange, 10%);
  }
}

/* sessions */
.btnProfile {
  @include buttonBaseGhost($colorOrange, rem-calc(16), $fullWidth: false, $radius: true);
  margin: 0;
  padding: 0.4rem 0.6rem 0.46rem 0.6rem;
}
/* media */
@media #{$small-only} {
  a.btnRegister {
    font-size: rem-calc(14);
  }
}
